.registerFormContainer {
    border: 3px solid darkblue;
    box-shadow: 20px 20px darkgray;
    padding: 3em 1em;
    width: 60%;
    margin: auto;
}

img {
    width: auto;
    
}

#header .logo
{
    background-image: url(assets/images/Balloons/balloonbanner.jpg);
    border-bottom:3px solid black;

}
    #header .logo a {
        color: black;
    }

#sidebar .toggle{
    color:black;
}

/* Accessories Details */
#aContainer {
    border: 3px solid #535BA0;
    box-shadow: 20px 20px darkgray;
    padding: 1em;
}

#aHeader {
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1%;
}

#aLeft {
    float: left;
    width: 36%;
}

#aRight {
    margin-left: 45%;
}

#aFooterLeft {
    float: left;
    width: 49%;
}

#aFooterRight {
    margin-left: 50%;
    text-align: right;
}

/* Create*/
#bContainer {
    font-weight: 700;
}

    #bContainer input[type="text"],
    #bContainer input[type="number"],
    #bContainer input[type="datetime"],
    #bContainer select {
        max-width: 50%;
        display: inline-block;
    }

textarea#Description {
    height: 10em;
}

input[type="checkbox"] {
    display: inline;
    float: none;
    margin-right: 0;
}

/* Balloon Details*/

#bContainer {
    border: 3px solid #535BA0;
    box-shadow: 20px 20px darkgray;
    padding: 1em;
}

#bHeader {
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1%;
}

#bLeft {
    float: left;
    width: 36%;
}

#bRight {
    margin-left: 45%;
}

#bFooterLeft {
    float: left;
    width: 49%;
}

#bFooterRight {
    margin-left: 50%;
    text-align: right;
}

/* Create*/
#bContainer {
    font-weight: 700;
}

    #bContainer input[type="text"],
    #bContainer input[type="number"],
    #bContainer input[type="datetime"],
    #bContainer select {
        max-width: 50%;
        display: inline-block;
    }

textarea#Description {
    height: 10em;
}

input[type="checkbox"] {
    display: inline;
    float: none;
    margin-right: 0;
}

/* Genres Tile View */

.gContainer {
    height: 150px;
    border: 3px solid #535BA0;
    box-shadow: 5px 5px;
    padding: 1em;
    width: 31%;
    float: left;
    margin: .5em;
    position: relative;
}

.gContent {
    text-align: center;
    font-size: 2em;
}

.gFooterLeft {
    position: absolute;
    bottom: .5em;
    left: .5em;
}

.gFooterRight {
    position: absolute;
    bottom: .5em;
    right: .5em;
}
