@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>
        Welcome to the Balloon Store!
    </h1>
    <p>A Place to make your spirits bright!</p>
</div>
<div>
    <h3>
        Party Ballons at a Store Near You!
    </h3>
    <p>
        Whether you're planning a graduation party, a Hawaiian luau, or a baby shower for family and friends, our latex party balloons, foil helium balloons, and helium tank kits give you everything you need for a lighter-than-air celebration.
    </p>
    <p>
        With one of the biggest and best selections of latex and foil balloons, and with plenty of balloon weights and accessories to match, we offer a balloon for every taste, budget, occasion, and party theme.
    </p>
    <p>
        Are you looking to make a statement? Try a singing balloon to deliver your birthday message, or a giant gliding balloon that "walks" when pulled. These monster foil balloons stand up to 5 feet tall and are refillable like beach balls. They have tough plasticized hides and self-sealing valves that keep the loss of helium or air to a minimum.
    </p>    
    <p>
        Personalize your party with balloons that can be customized with a message or photo.  Custom foil  balloons can be given as thoughtful gifts or used as unique party decorations.
    </p>   
</div>
<div>
    <h3>
        A Balloon for Every Occasion
    </h3>
    <p>
        Foil and latex balloons add a decorative touch to any event. Use pink and blue balloons for baby showers and gender reveal parties. Spice up your fiesta with Cinco de Mayo balloons. And celebrate every special moment with balloons that match your party theme, holiday gathering, or special occasion. Weddings, graduations, birthdays and baby showers – if there's a special party, we offer the right balloons to brighten it up.
    </p>
    <p>
        Sports fans will find their bliss at Party City, where we carry a huge selection of NFL, NBA, MLB, and even NHL balloons printed with your favorite team's logo on both sides. The inventory includes most major league franchises, and given an occasional shot of helium, these durable foil balloons will remain aloft just as long as your fan support.
    </p>
</div>
<div>
    <h3>
        Buy Online, Pickup at Your Local Ballon Store
    </h3>
    <p>
        Sports fans will find their bliss at Happy Time, where we carry a huge selection of NFL, NBA, MLB, and even NHL balloons printed with your favorite team's logo on both sides. The inventory includes most major league franchises, and given an occasional shot of helium, these durable foil balloons will remain aloft just as long as your fan support.
    </p>
</div>
<div>
    <h3>
        How Much Does It Cost to Get Balloons Filled With Helium?
    </h3>
    <p>
        When you buy foil balloons from Happy Time Balloons, we fill them for free at the store. When you buy latex balloons from us, we can fill them in store for a small fee. And if you purchase your balloons from another store, your local Happy Time can fill those with helium, too! Prices vary by location and not all balloons can be filled with helium, so it's a good idea to call ahead. If you prefer to fill balloons yourself, we also offer small and large helium tanks that are perfect for parties or events.
    </p>
</div>